<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block head %}{% endblock %}
</head>
<body>

<div class="container">
    <nav>
        <div class="nav-container">
            <ul class="container-list">
                <li><a href="/"><span>Index</span></a></li>
                <li><a href="/music"><span>Shop</span></a></li>
                <li><a href="/login"><span>Login (redirect to index)</span></a></li>
                <li><a href="/contacts"><span>Contacts</span></a></li>
                <li><a href="/contacts?show_phone=1"><span>Contacts (show number only)</span></a></li>
            </ul>
        </div>
    </nav>
</div>
{% block body %}{% endblock %}
</body>
</html>